<?xml version="1.0" encoding="gb2312"?>
<config>
  <reg>
    <companyname>隧道项目</companyname>
    <hardsn>nstone</hardsn>
  </reg>
  <IsNetConnect>False</IsNetConnect>
  <ServerPort>7898</ServerPort>
  <LoopTime>1000</LoopTime>
  <OtherLoopTime>100</OtherLoopTime>
  <HistoryPrecision>1</HistoryPrecision>
  <HistoryPrecision_Collect>5</HistoryPrecision_Collect>
  <IsCheckOutRSSI>False</IsCheckOutRSSI>
  <CheckOutRSSI>177</CheckOutRSSI>
  <MaxMoveLength>2</MaxMoveLength>
  <ArriveRSSI>252</ArriveRSSI>
  <DutyAbleTimes>3</DutyAbleTimes>
  <DBConnStr>server=localhost\SQLEXPRESS;Database=PersonPosition;User ID=sa;Password=123456;</DBConnStr>
  <AutoRunApp>False</AutoRunApp>
  <AutoStart>False</AutoStart>
  <IsLinePosition>True</IsLinePosition>
  <ErrorStationTimes>10</ErrorStationTimes>
  <SlickTimes>1</SlickTimes>
  <CheckOutMinute>120</CheckOutMinute>
  <NullSignalTimes>15</NullSignalTimes>
  <DistanceForDuty1Per>0.7</DistanceForDuty1Per>
  <ShowLowPower>False</ShowLowPower>
  <OutWhen1GetRSSI>False</OutWhen1GetRSSI>
  <AlarmMaxHour>9</AlarmMaxHour>
  <AlarmMaxPerson>100</AlarmMaxPerson>
  <IsShowBug>False</IsShowBug>
  <Port>
    <Port_port>COM3</Port_port>
    <Port_bote>115200</Port_bote>
    <Port_check>None</Port_check>
    <Port_data>8</Port_data>
    <Port_stop>1</Port_stop>
  </Port>
  <AutoReConnectSecond>20</AutoReConnectSecond>
  <IsOtherDirect>False</IsOtherDirect>
  <IsUseHongWai>False</IsUseHongWai>
</config>